.top-control-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.select-container {
  flex: 1 1 auto;
  margin: 10px;
  min-width: 100px;
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
}

.root-dropdown.ui.selection.dropdown {
  width: 100%;
}

.sequence-buttons.ui.buttons,
.marker-buttons.ui.buttons {
  margin: 10px;
  flex: 1 1 auto;
  min-width: 200px;
}

@media (max-width: 600px) {
  .select-container,
  .sequence-buttons.ui.buttons,
  .marker-buttons.ui.buttons {
    min-width: 100%;
    margin: 5px 0;
  }
}
